.store-demo{
  position: relative;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1{
    font-size: $font-size-heading;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .button{
    width: 100%;
  }

}